body {
  background-color: #ffffff;
}

header {
  width: 50%;
  height: 50px;
  background-color: purple;
}

.about-me {
  width: 50%;
  height: 150px;
  background-color: lightcoral;
}

section {
  width: 50%;
  height: 100px;
  background-color: lightblue;
}

.avatar {
  width: 100px;
  border-radius: 50px;
}

#name {
  color: white;
}
